# allow readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow droid dockerfile
!Dockerfile

# allow droid zip and signature files
!/third_party/DROID_SignatureFile_V120.xml
!/third_party/container-signature-20240715.xml
!/third_party/droid-binary-6.8.0-bin.zip