<div class="file-upload-section">
  <div class="file-upload-table">
    <div class="table-content">
      <mat-table [dataSource]="dataSource" matSort matSortActive="receivedAt" matSortDirection="desc">
        <!-- file name column -->
        <ng-container matColumnDef="fileName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Dateiname</mat-header-cell>
          <mat-cell *matCellDef="let file">{{ file.fileName }}</mat-cell>
        </ng-container>

        <!-- relative path column -->
        <ng-container matColumnDef="relativePath">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Pfad</mat-header-cell>
          <mat-cell *matCellDef="let file">{{ file.relativePath }}</mat-cell>
        </ng-container>

        <!-- file size column -->
        <ng-container matColumnDef="fileSize">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Dateigröße</mat-header-cell>
          <mat-cell *matCellDef="let file">{{ file.fileSize | fileSize }}</mat-cell>
        </ng-container>

        <!-- upload progress column -->
        <ng-container matColumnDef="uploadProgress">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="progress-header">Upload</mat-header-cell>
          <mat-cell *matCellDef="let file" class="task-progress">
            <div class="progress-cell">
              @if (file.error) {
                <mat-icon>close</mat-icon>
                <span>{{ file.error }}</span>
              } @else if (!file.uploadProgress) {
                <span>wartet auf Serverkapazität</span>
                <mat-spinner diameter="25"></mat-spinner>
              } @else if (file.uploadProgress < 100) {
                <mat-progress-bar mode="determinate" [value]="file.uploadProgress"> </mat-progress-bar>
              } @else if (file.uploadProgress === 100) {
                <mat-icon>check</mat-icon>
              }
            </div>
          </mat-cell>
        </ng-container>

        <!-- format verification column -->
        <ng-container matColumnDef="verificationProgress">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="progress-header"
            >Formatverifikation</mat-header-cell
          >
          <mat-cell *matCellDef="let file" class="task-progress">
            <div class="progress-cell">
              @if (!file.error && file.uploadProgress === 100) {
                <span>wird durchgeführt</span>
                <mat-spinner diameter="25"></mat-spinner>
              }
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>

    <div class="table-toolbar">
      <input #fileInput type="file" (change)="addFile($event)" />
      <button mat-flat-button (click)="fileInput.click()" color="primary">
        <mat-icon>upload_file</mat-icon>
        Einzeldatei hinzufügen
      </button>
      <input #folderInput type="file" (change)="addFolder($event)" webkitdirectory />
      <button mat-flat-button (click)="folderInput.click()" color="primary">
        <mat-icon>drive_folder_upload</mat-icon>
        Ordner hinzufügen
      </button>
      <span class="spacer"></span>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
        aria-label="Dateien auswählen"
      ></mat-paginator>
    </div>
  </div>
</div>
