# whitelist init (prohibit everything, allow all directories)
*
!*/

# allow visual studio code config
!.vscode/settings.json
!.vscode/extensions.json

# allow gitginore files
!.gitignore

# allow project documentation
!/README.md
!/CHANGELOG.md
!/README_DEV.md
!doc/screenshots/*.png

# allow environment file
!/.env.example

# allow docker compose file
!/compose.yml

# allow go workspace files
!/go.work
!/go.work.sum

# allow server config
!config/server_config.yml