# whitelist init (prohibit everything, allow all directories)
*
!*/

# allow gitginore files
!.gitignore

# allow project readme
!/README.md

# allow environment file
!/.env

# allow docker compose file
!/docker-compose.yml