:host {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  z-index: 2;
  flex-shrink: 0;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  a,
  button {
    color: var(--mat-sys-on-primary);
  }
}

mat-icon.title-icon {
  height: 26px;
  width: 26px;
  font-size: 26px;
}

.active {
  background: rgba(255, 255, 255, 0.1);
}

.right {
  margin-left: auto;
}
