:host {
  position: relative;
}

.file-over-indicator {
  display: grid;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 128, 0, 0.25);
  outline: 2px dashed rgba(0, 128, 0, 0.5);
  outline-offset: -0.5em;
  mat-icon {
    color: rgba(0, 128, 0, 0.5);
    margin: auto;
    width: 50vh;
    height: 50vh;
    font-size: 50vh;
  }
}
