<h1 mat-dialog-title>{{ toolName }} ({{ toolResult.toolVersion }})</h1>

<mat-dialog-content>
  <mat-tab-group animationDuration="0ms">
    @if (showFeatures) {
      <mat-tab label="Extrahierte Eigenschaften">
        <mat-table [dataSource]="toolResult.features | keyvalue">
          <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef>Eigenschaft</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.key }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Wert</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.value.value }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="['key', 'value']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['key', 'value']"></mat-row>
        </mat-table>
      </mat-tab>
    }
    @if (toolResult.toolOutput) {
      <mat-tab label="Werkzeug-Ausgabe">
        @switch (toolResult.outputFormat) {
          @case ("csv") {
            <pre>{{ toolResult.toolOutput | prettyPrintCsv }}</pre>
          }
          @case ("json") {
            <pre>{{ toolResult.toolOutput | prettyPrintJson }}</pre>
          }
          @case ("xml") {
            <pre>{{ toolResult.toolOutput | prettyPrintXml }}</pre>
          }
          @case ("text") {
            <pre>{{ toolResult.toolOutput }}</pre>
          }
        }
      </mat-tab>
    }
    @if (toolResult.error) {
      <mat-tab label="Fehler">
        <pre>{{ toolResult.error }}</pre>
      </mat-tab>
    }
  </mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
