# allow project files
!/.editorconfig
!/angular.json
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json

# allow source code
!/src/**/*.ts
!/src/**/*.html
!/src/**/*.scss

# allow assets
!/src/assets/**/*.*

# allow dockerfile
!Dockerfile

# allow build files
!/build/**/*