# allow project files
!/.editorconfig
!/angular.json
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json

# allow visual studio code config
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# allow source code
!/src/**/*.ts
!/src/**/*.html
!/src/**/*.scss

# allow assets
!/src/assets/**/*.*