# prohibit otherwise allowed files in node_modules
node_modules

# allow project files
!/.editorconfig
!/angular.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/package.json
!/README.md
!/tsconfig.app.json
!/tsconfig.json
!/tsconfig.spec.json

# allow source code
!/src/**/*.ts
!/src/**/*.html
!/src/**/*.scss
!/src/proxy.conf.mjs

# allow assets
!/public/**/*.*

# allow dockerfile
!Dockerfile

# allow build files
!/build/**/*