<h1 mat-dialog-title>{{ toolName }} ({{ toolResult.toolVersion }})</h1>

<mat-dialog-content>
  <mat-accordion multi="true">
    @if (showFeatures) {
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Extrahierte Eigenschaften</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table [dataSource]="toolResult.features | keyvalue">
          <ng-container matColumnDef="key">
            <mat-header-cell *matHeaderCellDef>Eigenschaft</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.key | fileFeature }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Wert</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.value }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="['key', 'value']"></mat-header-row>
          <mat-row *matRowDef="let row; columns: ['key', 'value']"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    }
    @if (toolResult.toolOutput) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Werkzeug-Ausgabe</mat-panel-title>
        </mat-expansion-panel-header>
        @switch (toolResult.outputFormat) {
          @case ("csv") {
            <pre>{{ toolResult.toolOutput | prettyPrintCsv }}</pre>
          }
          @case ("json") {
            <pre>{{ toolResult.toolOutput | prettyPrintJson }}</pre>
          }
          @case ("text") {
            <pre>{{ toolResult.toolOutput }}</pre>
          }
        }
      </mat-expansion-panel>
    }
    @if (toolResult.error) {
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>Fehler</mat-panel-title>
        </mat-expansion-panel-header>
        <pre>{{ toolResult.error }}</pre>
      </mat-expansion-panel>
    }
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
