.mat-mdc-dialog-container :host mat-dialog-content {
  // Reserve space for the scrollbar.
  //
  // Otherwise, space for the scrollbar will be missing when determining the
  // dialog's width and content will be scrolled horizontally.
  scrollbar-gutter: stable;
}

::ng-deep mat-tab-header {
  position: sticky !important;
  top: 0 !important;
  z-index: 2;
  background-color: var(--mat-sys-surface);
}

.cdk-cell {
  overflow-wrap: anywhere;
}

.cdk-column-value {
  flex-grow: 2;
}

pre {
  overflow: auto;
}

mat-row {
  min-height: 0;
}

mat-cell {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-style: none;
}
