# allow readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow dockerfile
!Dockerfile

# allow third-party tools
!third_party/linux-x64.zip
!third_party/LICENSE