# allow readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow tika dockerfile
!Dockerfile

# allow veraPDF installer zip
!/third_party/verapdf-installer.zip