# allwo readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow tika dockerfile
!dockerfile_verapdf

# allow veraPDF installer zip
!/bin/verapdf-installer.zip