# allow readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow tika dockerfile
!Dockerfile

# allow tika jar
!/third_party/tika-app-2.9.2.jar
!/third_party/LICENSE-2.0.txt