:host {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

.file-analysis-section {
  display: flex;
  flex-direction: column;
}

.file-analysis-table {
  width: 100%;
  max-width: 150em;
  border-radius: 12px;
  border: 1px solid var(--mat-table-row-item-outline-color);
  overflow: hidden;
}

.table-content {
  .mat-mdc-row {
    position: relative;
  }

  .cdk-cell.cdk-column-path,
  .cdk-cell.cdk-column-filename,
  .cdk-cell.cdk-column-mimeType {
    overflow-wrap: anywhere;
  }

  .cdk-cell.cdk-column-status {
    gap: 0.5em;
  }

  .uncertain-icon {
    color: #ff6600;
  }
  .valid-icon {
    color: #00a000;
  }
  .invalid-icon {
    color: #c00000;
  }
  .error-icon {
    color: #c00000;
  }

  .open-details-button {
    position: absolute;
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: currentColor;
      opacity: 0.04;
    }
  }
}

.table-toolbar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 4px 16px;
  align-items: center;
  min-height: 64px;
  column-gap: 1em;

  mat-paginator {
    background: transparent;
    margin-left: auto;
  }
}
