<div class="file-analysis-section">
  <h1>Geprüfte Dateien ({{ dataSource.data.length }})</h1>
  <div class="file-analysis-table">
    <div class="table-content">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let column of tableProperties" matColumnDef="{{ column.key }}">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{
            column.label ?? (column.key | fileFeature)
          }}</mat-header-cell>
          <mat-cell *matCellDef="let row">
            @if (column.key === "status") {
              <mat-icon *ngIf="row.icons.uncertain" class="uncertain-icon">warning</mat-icon>
              <mat-icon *ngIf="row.icons.valid" class="valid-icon">check</mat-icon>
              <mat-icon *ngIf="row.icons.invalid" class="invalid-icon">close</mat-icon>
              <mat-icon *ngIf="row.icons.error" class="error-icon">error</mat-icon>
              <button
                mat-button
                class="open-details-button"
                (click)="openDetails(row)"
                aria-label="Details anzeigen"
              ></button>
            } @else if (row.values[column.key]) {
              {{ row.values[column.key].displayString ?? row.values[column.key].value }}
            }
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns"></mat-row>
      </mat-table>
    </div>

    <div class="table-toolbar">
      <ng-content select="[toolbar-button]"></ng-content>
      <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
