<h1 mat-dialog-title>Gesamtergebnis: Eigenschaftsmengen</h1>

<mat-dialog-content>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- tools column -->
    <ng-container matColumnDef="tools">
      <mat-header-cell *matHeaderCellDef> Werkzeuge </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="mark-list">
          @for (mark of element.tools; track mark) {
            <span [class]="mark.class">{{ mark.value }}</span>
          }
        </div>
      </mat-cell>
    </ng-container>

    <!-- PUID column -->
    <ng-container matColumnDef="puid">
      <mat-header-cell *matHeaderCellDef> {{ "format:puid" | fileFeature }} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.puid) {
          <div class="feature-with-marks">
            <span>{{ element.puid.value }}</span>
            <div class="mark-list">
              @for (mark of element.puid.toolMarks; track mark) {
                <span [class]="mark.class">{{ mark.value }}</span>
              }
            </div>
          </div>
        }
      </mat-cell>
    </ng-container>

    <!-- MIME type column -->
    <ng-container matColumnDef="mimeType">
      <mat-header-cell *matHeaderCellDef> MIME-Type </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.mimeType) {
          <div class="feature-with-marks">
            <span [innerHTML]="element.mimeType.value | breakOpportunities"></span>
            <div class="mark-list">
              @for (mark of element.mimeType.toolMarks; track mark) {
                <span [class]="mark.class">{{ mark.value }}</span>
              }
            </div>
          </div>
        }
      </mat-cell>
    </ng-container>

    <!-- format version column -->
    <ng-container matColumnDef="version">
      <mat-header-cell *matHeaderCellDef> Formatversion </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.version) {
          <div class="feature-with-marks">
            <span>{{ element.version.value }}</span>
            <div class="mark-list">
              @for (mark of element.version.toolMarks; track mark) {
                <span [class]="mark.class">{{ mark.value }}</span>
              }
            </div>
          </div>
        }
      </mat-cell>
    </ng-container>

    <!-- valid column -->
    <ng-container matColumnDef="valid">
      <mat-header-cell *matHeaderCellDef> Valide </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (element.valid !== undefined) {
          <div class="feature-with-marks">
            @if (element.valid.value === true) {
              <mat-icon>check</mat-icon>
            } @else if (element.valid.value === false) {
              <mat-icon>close</mat-icon>
            }
            <div class="mark-list">
              @for (mark of element.valid.toolMarks; track mark) {
                <span [class]="mark.class">{{ mark.value }}</span>
              }
            </div>
          </div>
        }
      </mat-cell>
    </ng-container>

    <!-- score column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef> Bewertung </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.score | percent }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <div class="tool-legend">
    @for (legendEntry of toolLegend; track legendEntry.id) {
      <span
        ><span [class]="legendEntry.mark.class">{{ legendEntry.mark.value }}</span
        >: {{ legendEntry.title }}</span
      >
    }
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
