<h2 mat-dialog-title>Über Borg</h2>

<div mat-dialog-content>
  <p>
    Entwickelt vom
    <a mat-button target="_blank" href="https://landesarchiv.thueringen.de/"
      >Landesarchiv Thüringen <mat-icon iconPositionEnd>open_in_new</mat-icon></a
    >
  </p>
  <p>
    Version: {{ appVersion() }}
    <a
      mat-button
      target="_blank"
      href="https://github.com/Landesarchiv-Thueringen/borg/releases/latest"
      >Neuste Version<mat-icon iconPositionEnd>open_in_new</mat-icon></a
    >
  </p>
  <p>
    Quellcode:
    <a mat-button target="_blank" href="https://github.com/Landesarchiv-Thueringen/borg"
      >GitHub <mat-icon iconPositionEnd>open_in_new</mat-icon></a
    >
  </p>
  <p>
    Lizenz:
    <a mat-button target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html"
      >GPLv3<mat-icon iconPositionEnd>open_in_new</mat-icon></a
    >
  </p>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Schließen</button>
</div>
