:host {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

.file-upload-section {
  display: flex;
  flex-direction: column;
}

.file-upload-table {
  width: 100%;
  max-width: 150em;
  border-radius: 12px;
  border: 1px solid var(--mat-sys-outline);
  overflow: hidden;

  // no other possibility to center the text of a sort header
  ::ng-deep .progress-header .mat-sort-header-container {
    justify-content: center;
  }
}

.table-content {
  overflow: auto;

  .task-progress {
    width: 20em;
  }

  .progress-cell {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    mat-spinner {
      margin-left: 1em;
    }
  }
}

.table-toolbar {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 4px 16px;
  align-items: center;
  min-height: 64px;
  column-gap: 1em;

  mat-paginator {
    background: transparent;
    margin-left: auto;
  }

  input[type="file"] {
    display: none;
  }
}

.upload-action-section {
  display: flex;
  column-gap: 1em;
  padding-bottom: 3em;
}
