<div class="file-analysis-section">
  <h1>Geprüfte Dateien ({{ dataSource.data.length }})</h1>
  <div class="file-analysis-table">
    <div class="table-content">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let tableColumn of generatedTableColumnList" matColumnDef="{{ tableColumn }}">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ tableColumn | fileFeature }}</mat-header-cell>
          <mat-cell *matCellDef="let fileInfo">
            <mat-icon *ngIf="fileInfo[tableColumn]?.value === 'true'">check</mat-icon>
            <mat-icon *ngIf="fileInfo[tableColumn]?.value === 'false'">close</mat-icon>
            <div *ngIf="fileInfo[tableColumn] && !['true', 'false'].includes(fileInfo[tableColumn].value)">
              {{ fileInfo[tableColumn].value }}
            </div>
          </mat-cell>
        </ng-container>

        <!-- status-icons column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
          <mat-cell *matCellDef="let fileInfo">
            <mat-icon *ngIf="fileInfo.icons.uncertain" class="uncertain-icon">warning</mat-icon>
            <mat-icon *ngIf="fileInfo.icons.valid" class="valid-icon">check</mat-icon>
            <mat-icon *ngIf="fileInfo.icons.invalid" class="invalid-icon">close</mat-icon>
            <mat-icon *ngIf="fileInfo.icons.error" class="error-icon">error</mat-icon>
            <button
              mat-button
              class="open-details-button"
              (click)="openDetails(fileInfo)"
              aria-label="Details anzeigen"
            ></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumnList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumnList"></mat-row>
      </mat-table>
    </div>

    <div class="table-toolbar">
      <button mat-button (click)="clearToolResults()" color="primary" [disabled]="dataSource.data.length === 0">
        <mat-icon>cleaning_services</mat-icon>
        Auswertung leeren
      </button>
      <button mat-button (click)="exportResults()" color="primary" [disabled]="dataSource.data.length === 0">
        <mat-icon>summarize</mat-icon>
        Ergebnisse exportieren
      </button>
      <span class="spacer"></span>
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
