:host {
  display: block;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;

  .file-analysis-section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  
    .file-analysis-table {
      width: 100%;
      min-width: 80em;
      max-width: 150em;

      .table-content {
        overflow: scroll;
      }

      .table-toolbar {
        background-color: white;
        column-gap: 1.0em;

        mat-paginator {
          background: transparent;
        }
        
        .spacer {
            flex: 1 1 auto;
        }
        
        input[type="file"] {
            display: none;
        }
      }
    }
  }
}