:host {
  display: block;
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-table {
  display: flex;
  flex-direction: column;
  color: black;
  [role="row"] {
    display: flex;
  }

  [role="cell"] {
    flex: 1 0 0;
    min-width: 0;
    padding: 0.5em;
    &:first-child {
      flex: 0 0 12em;
    }
  }

  a {
    margin: -6px -8px -10px;
  }
}

.icon-explanation {
  display: flex;
  gap: 2em;
  margin-top: 1em;
  margin-left: 2em;
  margin-right: 25%;
  margin-bottom: 1em;
  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  mat-icon {
    flex-shrink: 0;
  }
}
.uncertain-icon {
  color: #ff6600;
}
.valid-icon {
  color: #00a000;
}
.invalid-icon {
  color: #c00000;
}
.error-icon {
  color: #c00000;
}

.mat-mdc-row {
  position: relative;
}

.summary-row {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.03);
}

.feature-info {
  overflow-wrap: anywhere;
  > * {
    vertical-align: middle;
  }
}

.confidence-value {
  font-size: 14px;
  color: gray;
  margin-left: 0.25em;
}

.open-details-button {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0.04;
  }
}

mat-dialog-actions {
  .button-left {
    margin-right: auto;
  }
}
