<h2 mat-dialog-title>{{ data.fileResult.filename }}</h2>

<mat-dialog-content>
  <div class="info-table" role="table">
    @for (property of infoProperties; track property.key) {
      <div role="row">
        <div role="cell">{{ property.label }}</div>
        @if (data.fileResult.info[property.key]; as row) {
          <div role="cell">
            @if (row.routerLink) {
              <a mat-button [routerLink]="row.routerLink" target="_blank">
                {{ row.displayString ?? row.value }}
                <mat-icon>open_in_new</mat-icon>
              </a>
            } @else {
              {{ row.displayString ?? row.value }}
            }
          </div>
        }
      </div>
    }
  </div>
  <div *ngIf="icons.uncertain" class="icon-explanation">
    <mat-icon class="uncertain-icon">warning</mat-icon>
    <div>
      <p>Der Typ der Datei konnte nicht zweifelsfrei ermittelt werden.</p>
      <p>Die Ursache kann ein exotisches Dateiformat, fehlende Werkzeuge oder auch eine Beschädigung der Datei sein.</p>
      <p>Eine aussagekräftige Validierung kann deshalb nicht vorgenommen werden.</p>
    </div>
  </div>
  <div *ngIf="icons.valid" class="icon-explanation">
    <mat-icon class="valid-icon">check</mat-icon>
    <div>
      <p>Der Datei ist eine valide Datei ihres Typs.</p>
    </div>
  </div>
  <div *ngIf="icons.invalid" class="icon-explanation">
    <mat-icon class="invalid-icon">close</mat-icon>
    <div>
      <p>Der Datei ist invalide.</p>
      <p>Die Ursache kann eine Erstellung mit ungeeigneten Werkzeugen oder eine Beschädigung der Datei sein.</p>
      <p>Dies bedeutet nicht automatisch, dass die Datei unbrauchbar ist.</p>
    </div>
  </div>
  <div *ngIf="icons.error" class="icon-explanation">
    <mat-icon class="error-icon">error</mat-icon>
    <div>
      <p>Bei der Überprüfung der Datei trat ein Fehler bei einem oder mehreren Werkzeugen auf.</p>
      <p>
        Die Ursache liegt in einem Programmierfehler des verwendeten Werkzeugs. Der Fehler kann jedoch durch ein Problem
        mit der Datei ausgelöst worden sein.
      </p>
      <p>Es können unter Umständen weniger oder keine Aussagen zum Typ oder der Validität der Datei gemacht werden.</p>
    </div>
  </div>
  <div *ngIf="!icons.valid && !icons.invalid && !icons.uncertain && !icons.error" class="icon-explanation">
    <div>
      <p>
        Die Validität der Datei konnte nicht geprüft werden, da kein geeignetes Werkzeug für diesen Dateityp vorliegt.
      </p>
    </div>
  </div>

  <mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let tableColumn of tableColumnList; let first = first" matColumnDef="{{ tableColumn }}">
      <mat-header-cell *matHeaderCellDef>{{ tableColumn | fileFeature }}</mat-header-cell>
      <mat-cell *matCellDef="let fileInfo">
        <div *ngIf="fileInfo[tableColumn]?.value as value" class="feature-info">
          <mat-icon *ngIf="value === 'true'">check</mat-icon>
          <mat-icon *ngIf="value === 'false'">close</mat-icon>
          <ng-container *ngIf="value !== 'false' && value !== 'true'">
            <span *ngIf="fileInfo[tableColumn]">{{ fileInfo[tableColumn].value }}</span>
          </ng-container>
          <span *ngIf="fileInfo[tableColumn]?.confidence != null" class="confidence-value">
            ({{ fileInfo[tableColumn].confidence | percent }})
          </span>
        </div>
        <mat-icon *ngIf="fileInfo[tableColumn]?.icon as icon" class="{{ icon }}-icon">{{ icon }}</mat-icon>
        <button
          *ngIf="first && fileInfo.tool.value !== 'Gesamtergebnis'"
          mat-button
          class="open-details-button"
          (click)="showToolOutput(fileInfo.tool.value)"
          aria-label="Details anzeigen"
        ></button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumnList"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: tableColumnList"
      [class.summary-row]="row.tool.value === 'Gesamtergebnis'"
    ></mat-row>
  </mat-table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button class="button-left" (click)="exportResult()">
    <mat-icon>summarize</mat-icon>
    Datei-Ergebnis exportieren
  </button>
  <button mat-button mat-dialog-close>Schließen</button>
</mat-dialog-actions>
