@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$magenta-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface);
}
