<h1 mat-dialog-title>Formatverifikation</h1>

<mat-dialog-content>
  <mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let tableColumn of tableColumnList; let first = first" matColumnDef="{{ tableColumn }}">
      <mat-header-cell *matHeaderCellDef>{{ tableColumn | fileFeature }}</mat-header-cell>
      <mat-cell *matCellDef="let fileInfo">
        <div class="feature-info">
          <mat-icon *ngIf="fileInfo[tableColumn]?.value === 'true'">check</mat-icon>
          <mat-icon *ngIf="fileInfo[tableColumn]?.value === 'false'">close</mat-icon>
          <ng-container *ngIf="fileInfo[tableColumn]?.value !== 'false' && fileInfo[tableColumn]?.value !== 'true'">
            <span *ngIf="fileInfo[tableColumn]">{{ fileInfo[tableColumn].value }}</span>
          </ng-container>
          <span *ngIf="fileInfo[tableColumn]?.confidence != null" class="confidence-value">
            ({{ fileInfo[tableColumn].confidence | percent }})
          </span>
          <button
            *ngIf="first && fileInfo.Werkzeug.value !== 'Gesamtergebnis'"
            mat-button
            class="open-details-button"
            (click)="showToolOutput(fileInfo.Werkzeug.value)"
            aria-label="Details anzeigen"
          ></button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumnList"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumnList"></mat-row>
  </mat-table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">Schließen</button>
</mat-dialog-actions>
