:host {
  display: block;
  min-width: 70em;
}

.mat-mdc-row {
  position: relative;
}

.feature-info {
  overflow-wrap: anywhere;
  > * {
    vertical-align: middle;
  }
}

.confidence-value {
  font-size: 14px;
  color: gray;
  margin-left: 0.25em;
}

.open-details-button {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0.04;
  }
}
