:host {
  display: block;
  min-width: 70em;
}

.icon-explanation {
  display: flex;
  gap: 2em;
  margin-left: 2em;
  margin-right: 25%;
  margin-bottom: 1em;
  p {
    margin-bottom: 6px;
  }
  mat-icon {
    flex-shrink: 0;
  }
}
.uncertain-icon {
  color: #ff6600;
}
.valid-icon {
  color: #00a000;
}
.invalid-icon {
  color: #c00000;
}
.error-icon {
  color: #c00000;
}

.mat-mdc-row {
  position: relative;
}

.feature-info {
  overflow-wrap: anywhere;
  > * {
    vertical-align: middle;
  }
}

.confidence-value {
  font-size: 14px;
  color: gray;
  margin-left: 0.25em;
}

.open-details-button {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    opacity: 0.04;
  }
}
