:host {
  display: block;
  padding: 0.2em;
  max-height: 40vh;
}

h2 {
  font: var(--mat-sys-headline-small);
}

mat-row {
  min-height: 0;
}

mat-cell {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-style: none;
}

.mat-column-category {
  flex-grow: 0.5;
}

.mat-column-value {
  flex-grow: 3;
}
