:host {
  display: flex;
  flex-direction: column;
}

.filter {
  position: sticky;
  top: 0;
  margin-top: 1em;
}

h2 {
  font: var(--mat-sys-headline-small);
}

mat-table {
  height: 35vh;
  overflow: auto;
}

mat-row {
  min-height: 0;
}

mat-cell {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-style: none;
}

.mat-column-category {
  flex-grow: 0.6;
}

.mat-column-value {
  flex-grow: 3;
}

// needed for wrapping key column
// mat-cell.mat-column-key {
//   display: table-cell;
// }
// .mat-column-key {
//   flex-grow: 1.5;
//   overflow-wrap: break-word !important;
// }
