# allow readme
!README.md

# allow go project files
!/go.mod
!/go.sum

# allow go source code
!/**/*.go

# allow dockerfile
!Dockerfile

# allow third-party tools
!third_party/odfvalidator-0.12.0-jar-with-dependencies.jar
!third_party/LICENSE.txt